

.App {
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
}
.top-content {
  background-image: url('./Pizza.jpg');
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#order-pizza {
  color: white;
  font-size: 3rem;
  text-decoration: none;
  text-shadow: -3px 3px 5px grey;

}


.nav {
  text-decoration: none;
  color: inherit;
  padding: 20px
}

.errors {
  color: red;
  font-size: 0.8rem;
}

.order-card {
  border: dotted black 1px;
  width: 70%;
  margin: auto;
}